/* .PostWrap {
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid rgb(212 212 212);
}

.PostCoverPhoto {
    object-fit: contain;
    width: 100%;
}

.PostOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    width: 100%;
} */